@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* colors */
    --background: 0 0% 99%;
    --foreground: 240 10% 3.9%;
    --primary: 89.3 80.4% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 87.6 61.2% 20.2%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --ring: 240 5.9% 10%;
    --border: 89.3 80.4% 10%;

    /* sizes */
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-body text-primary noise-bg;
  }
}

@layer components {
  .position-screen-center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .noise-bg {
    background-image: url("/noise.svg");
    @apply bg-cover bg-no-repeat min-h-screen mix-blend-overlay;
  }
  .section-padding-x {
    @apply px-2 lg:px-12;
  }
  .section-padding-y {
    @apply py-14 md:py-20 lg:py-24 xl:py-36;
  }
}
